.con {
    max-width: 600px;
    position: relative;
  }
  
  .dot {
    background: green;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
  }
  .dot:hover{
    background: red;
  }
  
  .dot1 {
    top: 110px;
    left: 75px;
  }
  
  .dot2 {
    top: 110px;
    left: 130px;
  }
  
  .dot3 {
    top: 230px;
    left: 75px;
  }
  
  .imgClass {
    width: 100%;
  }