@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
  body {
    /* color: white;
    background: black; */
  }
}

.bg-blue-100 {
  background-color: rgb(219 234 254);
}

.bg-blue-500 {
  background-color: rgb(59 130 246);
}

.toggle-arrow {
  right: -12px;
  background-color: #96dcff;
  border-radius: 50%;
}

.header2 {
  font-size: 30px;
  font-weight: 600;
}

.heading3 {
  font-size: 24px;
  font-weight: 600;
}

.header-comp {
  background-color: #f2f4f5;
}

.connectordetails{
  position: absolute;
  top: 4.75rem;
  right: 0;
  bottom: 0;
  left: 55%;
  z-index: 100;
  width: 45%;
  height: calc(100% - 4.75rem);
  background-color: white;
  padding: 2rem;
  transition: .3s all ease;
  /* align-items: center;
  justify-content: center; */
  box-shadow: rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}